@using HW_17_09_23.Models;
@*
*@
@model List<AboutMe>
@{
    Layout = "_AdminLayout";
    // var roles = ViewData["Roles"] as List<string>;
}

<h1>AboutMes</h1>
 @if (User.Identity.IsAuthenticated)
        {
<a href="/AboutMe/Create" class="btn btn-success">Create</a>
        }
<div class="row">
    <div class="col-12">
        @if (User.Identity.IsAuthenticated)
        {
            <div>User: @User.Identity.Name</div>
            @* <ul>
                @foreach (var role in roles)
                {
                    <li>@role</li>
                }
            </ul> *@
            <form method="post" action="/Account/Logout">
                <button class="btn btn-danger" type="submit">Logout</button>
            </form>
        }
        else
        {
            <div>Not authorized</div>
            <a class="btn btn-success" href="/Account/Login">Login</a>
        }

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aboutMe in Model)
                {
                    <tr>
                        <td>@aboutMe.Id</td>
                        <td>
                            @if (aboutMe.Image != null)
                            {
                                <img class="table-image img-thumbnail" src="@aboutMe.Image.Src()" />
                            }

                        </td>
                        <td>@aboutMe.FirstName</td>
                        <td>@aboutMe.LastName</td>
                        <td>
                            <a href="/AboutMe/Profile/@aboutMe.Id" class="btn btn-success">Profile</a>
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Skill/Index/@aboutMe.Id" class="btn btn-success">Show skills</a>
                            }
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/AboutMe/Edit/@aboutMe.Id" class="btn btn-primary">Edit</a>
                            }
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" action="/AboutMe/Delete/@aboutMe.Id">
                                    <button type="submit" class="btn btn-warning">Delete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section HeadEnd {
    <style>
        h1 {
            color: green;
        }

        img.table-image {
            max-width: 150px;
        }
    </style>
}

@section BodyEnd {
    <script>
        //alert("Hello")
    </script>
} 