@using HW_17_09_23.Models.Forms;
@*
*@
@model SkillForm
@{
    Layout = "_AdminLayout";
}

<div class="row">
	<div class="col-md-6">

		<div class="card">
			<div class="card-header">
				<h1 class="card-title">Create AboutMe</h1>
			</div>
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">

					<div class="mb-3">
						@Html.HiddenFor(model => model.AboutMeId)
						@Html.LabelFor(m => m.SelectedSkillNameId, new {@class = "form-label"})
						@Html.DropDownListFor(model => model.SelectedSkillNameId, 
							(IEnumerable<SelectListItem>)ViewBag.SkillNameList, 
							"-- Select Skill Name --", 
							new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.SelectedSkillNameId, "", new { @class = "text-danger" })
						@Html.LabelFor(m => m.Percentage, new {@class = "form-label"})
						@Html.TextBoxFor(m => m.Percentage, new {@class = "form-control", placeholder = "Input Percentage..."})
						@Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
						@* @Html.LabelFor(m => m.NewSkillName, new {@class = "form-label"})
						@Html.TextBoxFor(m => m.NewSkillName, new {@class = "form-control", placeholder = "Input First name..."})
						@Html.ValidationMessageFor(model => model.NewSkillName, "", new { @class = "text-danger" }) *@
					</div>
					<a class="btn btn-success" href="/SkillName/Index">Add/Change Skill name</a>
					<button type="submit" class="btn btn-success">Save</button>
					<a href="/AboutMe/Index" class="btn btn-outline-info">Return</a>
				</form>
			</div>
		</div>
	</div>
</div>


@section HeadEnd {
	<style>
		h1 {
			color: green;
		}

		.field-validation-error {
			color: red;
		}
	</style>
}